header {
    text-align: center;
    padding: 20px;
  }
  
  .header-buttons {
    margin-top: 20px;
  }
  
 
  .button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #ebedf0;
    color: #020101;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
 
  .button-gap {
    display: inline-block;
    width: 30px;
  }
  .line {
    width: 100%;
    border: none;
    left: 0;
  right: 0;
    border-top: 2px solid black; /* Set the border-top property to create a thick line */
    margin: 20px 0; /* Adjust this value to control the vertical position of the line */
  }